@model OnlineExam.Models.Books

@{
    ViewBag.Title = "Add New Book";
}
<div class="page-head">
    <h3>Add New Book</h3>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Dashboard", "Account")</li>
        <li>
            <a href="@Url.Action("Index", "Books")" title="books">Books</a>
        </li>
        <li class="active">Create</li>
    </ol>
</div>

@using (Html.BeginForm("Create", "Books", FormMethod.Post, new { id = "frmCreate", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal  block-flat">
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            
        </div>

        <div class="col-md-8 text-right">
            <button type="submit" name="command" value="Create" class="btn btn-success">
                <span class="fa fa-floppy-o"></span>
            </button>
            <a href="@Url.Action("Index", "Books")" class="btn btn-primary" title="Back to List"><span class="fa fa-long-arrow-left"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.Label("Class Type", new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.DropDownList("ClassType", ViewBag.classCategory as SelectList, "Select Class Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClassType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Title, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Description, new { @class = "col-md-12" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">

        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD.MM.YYYY", true).isValid();
            }

            $("#StartDate").val('');
            $("#EndDate").val('');

            var roxyFileman = '/fileman/index.html';
            CKEDITOR.replace('Description', {
                height: 300,
                filebrowserBrowseUrl: roxyFileman,
                filebrowserImageBrowseUrl: roxyFileman + '?integration=ckeditor',
                removeDialogTabs: 'link:upload;image:upload'
            });

        });

    </script>
}