@model PagedList.IPagedList<OnlineExam.Models.ViewModels.PaymentViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Payment Info";
}

<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
<style>
    #tblCustom thead {
        background-color: #2494F2 !important;
    }

        #tblCustom thead th {
            padding: 8px !important;
            line-height: 24px !important;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #fff;
        }
</style>
<div class="page-head">
    <h3>My Payment History</h3>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Dashboard", "Account")</li>
        <li>
            <a href="@Url.Action("Index", "Payment")" title="Payment History">Payment</a>
        </li>
        <li class="active">My Payment History</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>Account Balance: @ViewBag.AccountBalance</h5>
    </div>
    <div class="col-xs-12 packs-container">
        <table id="tblCustom" class="table table-condensed table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="th-inner">Date</th>
                    <th class="th-inner">Payment Type</th>
                    <th class="th-inner">Payment Method</th>
                    <th class="th-inner">Bank</th>
                    <th class="th-inner">TxnId</th>
                    <th class="th-inner">Transaction Id</th>
                    <th class="th-inner">Transaction Message</th>
                    <th class="th-inner">Transaction Status</th>
                    <th class="th-inner">Amount</th>
                    <th class="th-inner">Approved</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.PaymentType</td>
                        <td>@item.PaymentMethod</td>
                        <td>@item.Bank</td>
                        <td>@item.TxnId</td>
                        <td>@item.TransactionId</td>
                        <td>@item.TransactionMessage</td>
                        <td>@item.TransactionStatus</td>
                        <td style="text-align:right;">@item.Amount</td>
                        <td>@item.IsApproved</td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="contentPager">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", "Payment",
        new { page, sortOrder = ViewBag.CurrentSort }))
        </div>
    </div>

</div>

