@model OnlineExam.Models.RoleViewModel

<div class="page-head">
    <h3>Create Role</h3>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Dashboard", "Account")</li>
        <li>
            <a href="@Url.Action("Index", "RolesAdmin")" title="Question Bank">Role List</a>
        </li>
        <li class="active">Create Role</li>
    </ol>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="block-flat form-horizontal">
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-1">
                @Html.DisplayNameFor(x => x.Name)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="col-md-2 form-inline">
                <button type="submit" name="command" value="Create" class="btn btn-success" title="Save">
                    <span class="fa fa-floppy-o"></span>
                </button>
                <a href="@Url.Action("Index", "RolesAdmin")" class="btn btn-primary" title="Back to List"><span class="fa fa-long-arrow-left"></span></a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
