@model PagedList.IPagedList<OnlineExam.Models.TeacherViewModel>
@using PagedList.Mvc

<section class="bredcums-sec">
    <div class="container">
        <div class="row">
            <h6><span>Home</span>  // Teachers</h6>
        </div>
    </div>
</section>
<section class="Comparison heading-only color-only">
    <div class="container">
        <div class="row">
            <hr />
            @using (Html.BeginForm())
            {
                <div class="col-xs-12">
                    <div class="col-xs-4">@Html.DropDownList("lstClass", ViewBag.classCategories as SelectList, "- Select Class Category -", new { @class = "form-control" })</div>
                    <div class="col-xs-4">
                        <select name="lstSubject" id="lstSubject" class="form-control">
                            <option value="">- Select Subject Category -</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-warning" value=" "><span class="glyphicon glyphicon-zoom-in"></span></button>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 packs-container">
                @foreach (var item in Model)
                {
                    <div style="width:23%; float:left; border:1px solid #808080; padding:1px auto; margin:1%; text-align:center;">
                        <div class="title">
                            <a href="@Url.Action("TeacherProfile","Home",new {id=item.UserProfileId })"><h4 title="@item.FullName" class="ng-binding">@item.FullName</h4></a>
                        </div>
                        <div class="title">
                            @if (!string.IsNullOrEmpty(item.Image) && File.Exists(item.Image))
                            {<img src="@Url.Content(item.Image)" class="img-thumbnail" width="150" />}
                            else
                            {<img src="~/Content/Images/avatar-logo.jpg" alt="Image" class="img-thumbnail" width="150" />}
                        </div>

                        <div class="details">
                            <ul class="list-unstyled">
                                <li>
                                    @if (!string.IsNullOrEmpty(item.Subject))
                                    {<span class="ng-binding">Subjects: @item.Subject.Replace("|", ", ")</span>}
                                </li>
                                <li>

                                    <span class="ng-binding">Registerd Date: @item.RegisterdDate</span>
                                </li>
                            </ul>
                        </div>
                        @if (item.Follow == "Yes")
                        {
                            <div class="tags">
                                <a href="@Url.Action("AddFollowsList","Home",new {id=item.UserProfileId })" class="btnFollow btn btn-success">Follow</a>
                            </div>
                        }
                else
                {
                    if(User.Identity.IsAuthenticated && User.IsInRole("Student"))
                    {
                    <div class="tags">
                        <a href="#" class="btnFollow btn btn-warning">Followed</a>
                    </div>
                            }
                        }
                    </div>
                }

            </div>
            <div id="contentPager">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Teacher", "Home",
            new { page, sortOrder = ViewBag.CurrentSort }))
            </div>
        </div>
    </div>
</section>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

            function dateFormat(value, row, index) {
                //debugger;
                if (value != null && value.length > 5) {
                    var date = new Date(parseInt(value.substr(6)));
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                } else {
                    return value;
                }
            }

            function demoFormat(value, row, index) {
                var result = "";
                if (row.IsDemo) {
                    result = "✔️";
                }
                return result;
            }

         var strSubject = "@ViewBag.lstSubject";
            $("#lstClass").change(function () {
                $.getJSON('/Home/GetSubjectsByClassCategory/', { subjectCategory: $(this).val() },
                    function (data) {
                        var items = '<option>- Select Subject Category -</option>';
                        $.each(data, function (i, state) {
                            items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                        });
                        $('#lstSubject').html(items);

                        if (strSubject != "") {
                            $("#lstSubject").val(strSubject);
                        }
                    }
                );
            });

    var strClass = "@ViewBag.lstClass";

    $("#lstClass").val("@ViewBag.lstClass");
    if (strClass != "") {
        $("#lstClass").change();
        if (strSubject != "") {
            $("#lstSubject").val("@ViewBag.lstSubject");
        }
    }

</script>
    }
